<div class="content-left">

	<img class="portrait" src="{{site.baseurl}}/profile.jpg">
	
	<div class="link-wrapper">
		<a class="contact-link" target="_blank" href="mailto:{{ site.email }}">
			<i class="fas fa-envelope fa-pic"></i>
			<span>&nbsp; mmnurm[at]utu.fi</span>
		</a>
		<a class="contact-link" target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin }}">
			<i class="fab fa-linkedin-in fa-pic linkedin"></i>
			<span>&nbsp; LinkedIn</span>
		</a>						
		<a class="contact-link" target="_blank" href="http://github.com/{{ site.github }}">
			<i class="fab fa-github fa-pic"></i>
			<span>&nbsp; GitHub</span>
		</a>
		<a class="contact-link" target="_blank" href="http://twitter.com/{{ site.twitter }}">
			<i class="fab fa-twitter fa-pic"></i>
			<span>&nbsp; Twitter</span>
		</a>
		<a class="contact-link" target="_blank" href="http://goodreads.com/{{ site.goodreads }}">
			<i class="fab fa-goodreads fa-pic goodreads"></i>
			<span>&nbsp; Goodreads</span>
		</a>
	</div>
	
</div>
