

body {
    height: 100%;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
	font-size: 20px;
	background-color: #e9dab8;
	color: #5a5447;
}

/* Header */

.site-header {
	display: flex;
	justify-content: center;
	border-bottom: solid;
	border-width: 1px;
	height: 4em;
	background: #604020;
	margin-bottom: 1em;
}


.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 40em;
	padding: 1.3em 0;
	background: #604020;
}

.nav-name {
	font-size: 1.2em;
	color: #fcf8e3;
	text-decoration: none;
	margin-left: 0.5em;
}

.nav-name:hover {
	color: #e8e3cc;
}

.links {
	display: flex;
	justify-content: flex-end;
	margin-right: 0.5em;
	list-style-type: none;
	font-size: 1.2em;
}


.header-links {
	margin-left: 1.5em;
	color: #fcf8e3;
	text-decoration: none;
}

.header-links:hover {
	color: #e8e3cc;
}


/* Page content */


.wrapper {
	display: flex;
	justify-content: center;
}

.content-wrapper {
	display: flex;
	justify-content: space-between;
	width: 40em;
}

.content-left {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 29%;
	margin-left: 0.5em;
}


.portrait {
	float: left;
	width: 99%;
	border-radius: 50%;
	margin-bottom: 0%;
}

.link-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	margin-top: 2em;
}

.contact-link {
	margin-bottom: 0.5em;
	text-decoration: none;
	color: #604020;
	font-size: 0.8em;
}

.fa-pic {
	color: black;
}

.linkedin {
	padding-right: 0.15em;
}

.goodreads {
	padding-right: 0.1em;
}

a.contact-link:hover {
	color: #0d0d0d;
}


.content-right {
	display: flex;
	flex-direction: column;
	width: 69%;
	padding-left: 5%;
	margin-right: 0.5em;
}

a {
	text-decoration: none;
	color: #604020;
}

a:hover {
	color: #0d0d0d;
}

a.titlelink {
	text-decoration: none;
	font-weight: bold;
}

h1, h2, h3 {
	color: #604020;
	font-size: 1.25em;
	font-weight: 500;
}

h3 {
	font-size: 1.05em;
}

p {
	font-size: 0.85em;
	color: #5a5447;	
}

b, strong {
	color: #604020;
}

.footer-wrapper {
	display: flex;
	justify-content: center;
}
.footer {	
	display: flex;
	justify-content: center;
	width: 40em;
	border-top: solid;
	border-width: 1px;
}

p.footer-text {
	font-size: 0.7em;
}





@media only screen and (max-width: 672px) {
  
  .navigation {
	  padding: 0 3% 0 3%;
  }
  .nav-name, .links, h2 {
	  font-size: 0.92em;
	  justify-content: flex-start;
	  webkit-text-size-adjust: 100%;
	  margin: 0;
  }
  
  .content-wrapper {
	  flex-wrap: wrap;
  }
  
  .content-left {
	  width: 100%;
	  order: 1;
	  align-items: center;
	  margin: 0;
  }
  
  .portrait {
	  width: 40%;
	  align-self: center;
  }
  
  .link-wrapper {
	  flex-direction: row;
	  flex-wrap: wrap;
	  font-size: 0.8em;
	  padding: 0% 3% 0% 3%;
  }
  
  .contact-link {
	  display: flex;
	  margin-right: 0.5em;
	  margin-bottom: 0.7em
  }
  
  
  .content-right {
	  width: 100%;
	  margin: 0;
	  padding: 0% 3% 0% 3%;
	  order: 2;
  }
  
  p {
	  font-size: 0.75em;
  }
  
  h3 {
	  font-size: 0.80em;
  }
  
  p.footer-text {
	  font-size: 0.6em;
  }
}

@media only screen and (max-width: 800px) {
	.navigation, .content-wrapper, .footer {
		width: 35em;
	}
}
