---
---

<div class="site-header">
  <div class="navigation">
    <a class="nav-name" href="/">Mikko Nurminen</a>
    <ul class="links">
      <li>
        <a class="header-links" href="/research/">Research</a>
      </li>
      <li><a class="header-links" href="/cv/">CV</a></li>
    </ul>
  </div>
</div>
